
/* **************ESTILOS ALBERTO ******************************************/
html{
    font-family: 'Poppins', sans-serif;
}
/* Eliminar el subrayado de los enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
}

body {
    width: 960px;
    margin: auto;/*Para centrar el body en la página*/
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color:#F2F2F2 ;
  /*  background-image: url("../img/fondo1.jpg"); */
    
}
/* Estilos de la Cabecera de la pagina */
body header {
    width: 960px;
    height: 100px;
    background-color: #0378A6;
    margin-bottom: 10px;
    text-align: left;
    text-align: center;    
}

#nombre-web{
    float: right;   
}

#cabeceralogo {
    display: inline-block;
}

/* Estilos de la Barra de navegacion */
nav {
   
    height: 60px;
    width: 960px;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* Estilos del Aside, la foto alargada debajo del menu*/
aside {
    position: relative;
    justify-content: center;
    width: 960px;
    height: 100px;
    margin-bottom: 10px;
    float: left;
    object-fit: scale-down;
 
 
    
            /* 
            Si queremos que expanda todo lo posible la imagen
            */
            /*
            background-repeat: no-repeat;
            background-position: top right;
            background-size: cover; 
            height: 100%;
            flex-wrap: wrap; con esto expande las imagenes
            https://www.youtube.com/watch?v=9YK4xViWyJs
            */
    
   
}

.img-pub{
    background-image:url("../img/publicidad4.png"); 
    background-size: cover;
    height: 100px;
}

/* Estilos Total de la seccion */
section {
    width: 960px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #999;
    background-color: #0378A6;
    float: left;
    padding-bottom: 10px;
    
}

/* Selector para la etiqueta 'header' que sea hijo de la etiqueta 'section' */

/* Estilos de la Cabecera de la seccion */
section header {
    width: 98%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFF;
    text-align: center;
    
}
/* Estilos de los Articulos de la seccion, articulo 1 y articulo 2 */ 
section article {
    width: 98%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFF;
    text-align: center
}

/* Selector para la etiqueta 'footer' que sea hijo de la etiqueta 'section' */
/* Estilos del Pie de la seccion */
section footer {
    width: 98%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFF;
    text-align: center;
   
    
}


/*Estilos del Pie de la pagina */
footer {
    width: 960px;
    height: 100px;
    background-color: #999;
    background-color: #0378A6;
    clear: both;
}
/* Estilos del Menu desplegable*/
#ul-header {

    display: flex;
    z-index: 1;
    list-style: none;
    padding: 10px;
}

#ul-header li ul {
    display: none;
    position: absolute;
}
/* Hacer que el menu sea desplegable y lo colocamos por bloques 
https://evelb.es/css3-menu-desplegable-con-hover/    */

#ul-header li:hover ul {
    display: block;
}

/* Estilos Barra de navegacion , Menu y Cuenta*/
#a-header {
    color: white;
    font-size: 20pt;
    
}

/* Estilos del menu y de la cuenta */
.div-menu{
    margin-left: 15px; 
}
/* Estilo separacion  */
.div-cuenta{
    margin-left: 40px;  
}
/* Configuracion de la navegacion opcion Cuenta */
#a-header2 {
    color: #080808;
    font-family: roboto-slab, serif;
    font-weight: 300px;
    font-style: normal;
    font-size: 20pt;
    margin-left: -25px;
    text-align: left;
    
}

/* Color Recuadro cuando te posicionas en las opciones del menu*/
li a:hover{
    background-color:aquamarine;
    
 }
/* Fondo del menu desplegable de la barra de navegacion */
#ul-desplegable {
    /* El ultimo valor es para hacerlo transparente */
    background-color: rgba(7, 142, 183, 0.9);
    padding-right: 1.8%;
    padding-bottom: 0.8%;
    width: auto;
    
}

/* Color letras de la navegacion cuando te posicionas sobre ellas */
#a-header:hover {
    color: #0378A6;
}

/* Estilo de la lista del menu */
#ul-desplegable li {
    margin-top: 10px;
    list-style-type: none;
    text-align: left;
}


/* Boton de nuevo usuario */
#r-nuevo{
    background-color: #FFF;
    font-family: roboto-slab, serif;

}

 /* Estilos Formularios de registro Alberto */
 #inicio-sesion{
    text-align: center;
    color: black;
    margin-bottom: 50px ;
    font-size: large;

}
/* Estilos Contraseña olvidada*/
#recuperar{
    margin-right: 15px;
    text-align: center;
    color: black;
    margin-bottom: 50px ;
    
}
/* Formulario de registro en la web */
.main-registro-web{

    height: auto;
    background-color:  #FFF;
    float:left;
    width: 100%;
    float:left
    
    
}
#f-registro {
    width: auto;
    height: auto;
    background-color: #b9e3f9;
}
#legend-registro{
    background-color: #999;
}
/* Estilos de la galeria de fotos de la pagina principal y hacerla modal
https://www.youtube.com/watch?v=mWKmDV94uPI&t=363s
*/
.galeria-inicio{
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.galeria-inicio li{
    margin: 5px;
}
/* Estilo para el tamaño de las fotos que se ven en pequeño en la pagina principal*/
.galeria-inicio img{
    width: 180px;
    height: 200px;
}
/* Estilos del modal para galeria de fotos del inicio*/
.galeria-modal{
    display: none;
}


/* Uso target para que cuando haga click en la foto abra la galeria modal*/
.galeria-modal:target{
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* para que esta capa quede por encima del menu de navegacion interactivo*/
    z-index: 2;
    
}

.galeria-modal h3{
    color:#FFF;
    font-size: 20px;
    text-align: center;
    margin: 15px 0; 
}

.imagen-modal{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;  
}

.imagen-modal a{
    color:#FFF;
    font-size: 40px;
    text-decoration: none;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 25px;
}
/* Elegimos solo la segunda etiqueta <a> que es la que contiene la imagen*/
.imagen-modal a:nth-child(2){
    margin: 0;
    height: 100%;
}
.imagen-modal img{
    width: 50%;
    max-width: 80%;
    border: 7px solid #FFF;
    box-sizing: border-box;
}
.cerrar-galeria{
    display:block;
    background: #FFF;
    width: 25px;
    height: 25px; 
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:#080808;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
    margin-bottom: 20px;

}

/* Estipos pie de la seccion */

.pie-seccion{
    margin-top: 10px;
    float: left
}

.pie-seccion img {
    width: 150px;
    height: 150px;
    margin: 5px;
}

#letra-pie-seccion{
    font-size: 30px;
}

/* Estilos seccion 2 carreras*/
.proxima-carrera{
    float: none;

}

.proxima-carrera img {
    margin: 5px;
    float:none;
    text-align: left;
}

    

/* *************************************************************************************** */
/* CSS RESPONSIVO */
@media screen and (max-width: 980px) {
    body {
        width: 99%;
    }
    body header {
        width: 99%; 
    }
    section header {
        width: 98%; 
        height: auto;
    }
    section {
        width: 99%;
    }
    .galeria-inicio{
        justify-content: center;
    }
    nav {
        width: 99%;
        
    }
    aside {
        width: 99%;
    }
    footer {
        width: 99%;
    }
    .main-registro-web{
        width: 99%;
        height: auto;
        float:left
  
    }
}

@media screen and (max-width: 700px) {
    /* 
    Con width auto se tiene en cuenta el padding y el margen a la hora de calcular
    el ancho que ocupara un elemento.

    Con width 100% no se tendra en cuenta, por lo que primero ocupará todo el ancho 
    de la página y luego le sumara el "padding" y el "margin", saliendose de los límites

    https://blogs.ua.es/pi/2012/12/07/la-diferencia-entre-widthauto-y-width100/  
    
    barar de navegacion
    https://www.youtube.com/watch?v=f7QujqArvIw
    */
    body header {
        width: 98%; 
    }
    aside {
        width: 98%;
        
    }
    section {
        width: 98%;
        float: left;
        
    }
    .galeria-inicio{
        justify-content: center;
    }
    
    nav {
        width: 98%;
        float: none;    
        
    }
    footer{
        width: 98%;
    }
    section header {

        width: 97%;
        height: 100px;
    }

    nav ul{

        width: 30%;
     
        
    }
    nav ul li{
        display: block;
        margin: 25px 10px;
        line-height: 90%;
        
        
    }
    nav ul li a{
        font-size: 30px;
    }
    section article {
        width: 97%;
    }
    section footer {
        width: 97%;
        height: auto;
    }

    #a-header {
        font-size: 18pt;
    }
    .main-registro-web{
        width: 98%;
        height: auto;
        margin-top: none;
         
    }
    #f-registro{
        width: 94%;
        height: auto;
    }

  
    

}

@media screen and (max-width: 480px) {
    
    body header {
        width: 96%; 
    }
    aside {
        width: 96%;
        
    }
    
    nav {
        height: 50px;
        width: 96%;
    }
    
    header {
        height: auto;
    }
   

    h1 {
        font-size: 24px;
    }
    aside {
        width: 96%;
        display: left;
    }
    section {
        width: 96%;
    }
 
    section header {
        width: 95%;
        height: auto;
    }

    section article {
        width: 95%;
    }
    section footer{
        width: 95%;
        height: auto;
    }
    #letra-pie-seccion{
        font-size: 25px;
    }
  
    footer {
        width: 96%;
    }
    .main-registro-web{
        width: 96%;
    }
    #f-registro{
        width: 91%;
       

    }
    .img-pub{
        background-image:url("../img/publicidad6.png");

    }
    .galeria-inicio{
        justify-content: center;
    }
    .galeria-modal{
        width: 95%;
        
    }
    .imagen-modal img{
        width: 80%; 
        
    }


  
}

/* **************  FIN ESTILOS ALBERTO ******************************************/
