
h1 {
    padding: 20px;
    font-size: 40px;
    color: #F2F2F2;
    text-align: center;
}

header{
    background-color: hsla(197, 96%, 33%, 0.927);
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.535), rgba(255, 255, 255, 0.647)), url(running.jpeg);
    background-size: cover;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.pin {
    width: 40px;
    align-items: center;
}


.card {
    position: relative;
    display: flex;
    width: 250px;
    height: 250px;
    margin: 10px;
    align-items: center;
    float: left;
    left: 100px;
    top:60px;
}


.mapa {
    position: relative;
    display: flex;
    width: 750px;
    height: 450px;
    float: right;
    box-shadow: 0 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.direccion {
    position: absolute;
    top: 50px;
}

.front {
    transform: perspective(600px) rotateY(0deg);
    text-align: center;
    box-shadow: 0 5px 10px;
    position: absolute;
    width: 250px;
    height: 250px;
    object-fit: cover;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: center;
    margin: 10px;

}

.back {
    transform: perspective(600px) rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
    left:50px;
}

.link {
    display: flex;
    padding: 10px 30px;
    background-color: rgb(0, 94, 255);
    color: white;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
  }
  
  link:hover {
    background-color: white;
    color: blue;
  }

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

@media screen and (max-width: 480px){
    
}
    