html{
    min-width: 360px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(fondo3.svg);
    background-repeat: repeat-y;
    background-size: cover;
    
}

body{
    font-family: 'Kanit', sans-serif;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    min-width: 360px;
    
}


/* Cabecera */

body header {
    background-color: #2b3e43a1;
}


header h1 {
    padding: 2rem 1rem;
    font-size: 4rem;
    color: #F2F2F2;
    text-align: center;
}

/* Navegación */

nav{

    background-color: #06090a;
    width: auto;
    height: 60px;
    margin-bottom: 2%;
}

nav h2 {
    color: #F2F2F2;
    padding: 0.5em 2em;
}


/* Parte de lectura */

main{
   
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    

}


/* Secciones */

section { 
    width: 60%;
    background-color: #2b3e43a1;
    margin-bottom: 2%;
    margin-right: 2%;
    padding: 7%;
    padding-top: 1em;
    padding-bottom: 2em; 

}

section h2 {
    text-align: center;
    font-size: 2.5em;
    color: #F2F2F2;
}

/* Post */

.post {
    font-family: 'Poppins';
    padding: 2em;
    padding-top: 0.5rem;
    background-color:#F2F2F2 ;
    overflow: hidden;
}

.post h3 {
    margin-top: 1.5em;
    font-size: 1.75em;
    text-align: center;
    overflow: hidden;

}

.post p {
    text-align: justify;
    font-size: medium;
    

    
}
.post img {
    float: left;
    margin-right: 1.5em;
    margin-top: 2.5em;
    margin-top: 4em;
    margin-bottom: 4em;
}


/* Formulario */
#form_completo {
    clear: both;
}

form {
    overflow: hidden;
}

form fieldset {
    margin-bottom: 1em;    
}

#deportes {
    padding-top: 1em;
    padding-left: 3em;
}

form div {
    margin-bottom: 0.5em;
}

form table {
    border-spacing: 3em 1em;
}

.diferente {
    border-spacing:1em;
    margin-bottom: 0.5em;
    margin-left: 2em;
}

#fecha {
    margin-left: 3em;
}

button {
    margin-top: 0.5em;
    width: 200px;
    height: 60px;
    color: #F2F2F2;
    background-color: #2b3e43;
    font-family: "kanit";
    font-size: 2em;
    border-color: #06090a;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    
}

  button:hover {
    box-shadow: inset 0 0 20px #6b6e6faa, 0 0 20px rgba(23, 45, 53, 0.6);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
  }
  button:active {
    color: #b2b67e;
  }

#boton {
    display: flex;
    justify-content: center;
}

/* Publicidad */

aside{
    background-image: url(publi2.svg);
    background-size: contain;
    width: 24%;
    height: 108em;
    overflow: hidden;
   /*  float: right; */
}

/* footer */

footer{
    padding: 0.5em 2em;
    background-color: #b2b67e;
    clear: both;
}


/* Enlaces */

#enlaces {
    padding: 1em 0.5em;
}


#inicio {
    float: left;
}
#contacto {
    float: right;
}

a:link {
    color: #06090a;
}

a:visited {
    color: #f2f2f2;
}

/* Licencia */ 


#licencia {
    text-align: center;
}
