html{
    min-width: 360px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(fondo3.svg);
    background-repeat: repeat-y;
    background-size: cover;

}

* {
    margin: 0%;
    padding: 0%;
}


/* Navegación */

nav{
    background-color: #06090acb;
    width: 100%;
    height: 60px;
    position: fixed ;
    top: 0;
    z-index: 1;


    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* ALBERTO---------------------------------------------------------------------------
 */

/* MENU DE NAVEGACION */

.checkbtn img {
    margin-left: 2em;
    width: 100%;
    cursor: pointer;
}

nav ul{

    display: block;
    position: fixed;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    top: 15%;
    margin-bottom: 10%;
    left: -109%;
    text-align: center;
    transition: all .5s;
    z-index: 4;
 
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    padding: 0.25em 1.5em;
    font-size: 1.5em;
    border-radius: 5px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}

li a:hover{
    background-color: #242323;
    color: #fefffe;
 }

 #check{
    display:none;
 }

.checkbtn{
    width: 1em;
    display: block;
    
}
 #check:checked ~ul{
    left:0;
 }


/* --------------------------------------------------------------------------------------------------- */


.cuerpo {
    margin-left: 4vw;
    margin-top: 10vh;
    margin-right: 4vw;
    margin-bottom: 2vh;
}


/* Cabecera */

body header {
    background-color: #2b3e43a1;
    margin-bottom: 15px;
}


header h1 {
    padding: 2rem 1rem;
    font-size: 5vh;
    color: #F2F2F2;
    text-align: center;
}


/* Parte de lectura */

main{
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}


/* Secciones */

section { 
    width: 113vh;
    background-color: #2b3e43a1;
    margin-bottom: 2vh;
    margin-right: 3.4vw;
    padding: 7%;
    padding-top: 1em;
    padding-bottom: 2em; 

}

section h2 {
    padding: 0.5em;
    text-align: center;
    font-size: 4vh;
    color: #F2F2F2;
}

/* Post */

.post {
    font-family: 'Poppins';
    padding: 3vh;
    padding-top: 3vh;
    background-color:#F2F2F2 ;
    overflow: hidden;
}

.post h3 {
    margin-top: 20vh;
    margin-bottom: 1vh;
    font-size: 4vh;
    text-align: center;
    overflow: hidden;

}

.post p {
    text-align: justify;
    font-size: 2vh;
    margin-top: 3vh;
}

#texto {
    margin-top: 5vh;
}


.post img {
    
    float: left;
    margin-right: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}



/* Publicidad */

aside{
    background-image: url(publi2.svg);
    background-size: contain;
    width: 45vh;
    min-width: 35vh;
    height: 675px;
    
   /*  float: right; */
}



/* Formulario */

#form_completo {
    clear: both;
}

form {
    overflow: hidden;
    padding: 0.5vh;
}


form fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;  
    padding: 2vh;  
}

#deportes {
    padding-top: 1em;
    padding-left: 2vh;
    margin-bottom: 2vh; 
}

#deportes div {
    padding-top: 1em;
    padding-left: 3vh;
    margin-bottom: 2vh; 
}

form div {
    padding-top: 1em;
    padding-left: 3vh;
    margin-left: 2vh;
    margin-bottom: 2vh; 
}


button {
    margin-top: 0.5em;
    width: 200px;
    height: 60px;
    color: #F2F2F2;
    background-color: #2b3e43;
    font-family: "kanit";
    font-size: 2em;
    border-color: #06090a;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    
}

  button:hover {
    box-shadow: inset 0 0 20px #6b6e6faa, 0 0 20px rgba(23, 45, 53, 0.6);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
  }
  button:active {
    color: #b2b67e;
  }

#boton {
    display: flex;
    justify-content: center;
}



/* footer */

footer{
    padding: 0.5em 2em;
    background-color: #b2b67e;
    clear: both;
}


/* Enlaces */

#enlaces {
    padding: 1em 0.5em;
}


#inicio {
    float: left;
}
#contacto {
    float: right;
}

a:link {
    color: #06090a;
}

a:visited {
    color: #f2f2f2;
}

/* Licencia */ 


#licencia {
    text-align: center;
}
