html{
    font-family: 'Poppins', sans-serif;
}

body{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color:#F2F2F2 ;
}


/* Cabecera */

body header {
    background-color: #0378A6;
}


header h1 {
    padding: 3rem 2rem;
    font-size: 4rem;
    color: #F2F2F2;
    text-align: center;
}

/* Navegación */

nav{

    background-color: #06090a;
    width: auto;
    height: 60px;
    margin-bottom: 15px;
}

nav h2 {
    color: #F2F2F2;
    padding: 0.5em 2em;
}


/* Parte de lectura */

main{
    width: 75%;
    float: left;
}

/* Secciones */

section { 
    margin-bottom: 15px;
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #0378A6;

}

section h2 {
    text-align: center;
    font-size: 2.5em;
    color: #F2F2F2;
}

/* Post */

.post {
    padding: 2em;
    padding-top: 0.5rem;
    background-color:#F2F2F2 ;
    
}

.post h3 {
    font-size: 1.75em;
}
.post p {
    text-align: justify;
    font-size: medium;
    
}
.post img {
    
}



/* Publicidad */

aside{
    background-image: url(publi2.svg);
    background-size: cover;
    width: 24%;
    min-width: 100px;
    height: 680px;
    overflow: hidden;
    float: right;
}

/* footer */

footer{
    padding: 0.5em 2em;
    background-color: #BDD959;
    clear: both;
}

#enlaces {
    padding-bottom: 1em;
}

#inicio {
    float: left;
}
#contacto {
    float: right;
}

#licencia {
    text-align: center;
}
