html{
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color:#F2F2F2 ;
}


/* Navegación */

nav{
    background-color: #06090ad8;
    width: 100%;
    height: 60px;
    position: fixed ;
    top: 0;
    z-index: 1;


    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* ALBERTO---------------------------------------------------------------------------
 */

/* MENU DE NAVEGACION */

.checkbtn img {
    margin-left: 2em;
    width: 100%;
    cursor: pointer;
}

nav ul{

    display: block;
    position: fixed;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    top: 15%;
    margin-bottom: 10%;
    left: -109%;
    text-align: center;
    transition: all .5s;
    z-index: 4;
 
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    padding: 0.25em 1.5em;
    font-size: 1.5em;
    border-radius: 5px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}

li a:hover{
    background-color: #242323;
    color: #fefffe;
 }

 #check{
    display:none;
 }

.checkbtn{
    width: 1em;
    display: block;
    
}
 #check:checked ~ul{
    left:0;
 }


/* --------------------------------------------------------------------------------------------------- */


/* Cuerpo */

.cuerpo {
    margin-left: 150px;
    margin-top: 75px;
    margin-right: 150px;
    margin-bottom: 15px;
}


/* Cabecera */

body header {
    background-color: #0378A6;
    margin-bottom: 15px;
}


header h1 {
    padding: 2rem 1rem;
    font-size: 4rem;
    color: #F2F2F2;
    text-align: center;
}



/* Parte de lectura */

main{
    width: 75%;
    float: left;
}

/* Resumen */

#resumen {
    background: linear-gradient(#0378A6, 80%, #06090a);
    
    color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* Secciones */

section { 
    margin-bottom: 15px;
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #0378A6;

}

section h2 {
    text-align: center;
    font-size: 2.5em;
    color: #F2F2F2;
}

/* Post */

.post {
    padding: 2em;
    padding-top: 0.5rem;
    background-color:#F2F2F2 ;
    
}

.post h3 {
    font-size: 1.75em;
}
.post p {
    text-align: justify;
    font-size: medium;

    
}
.post img {
    float: left;
    margin-right: 1.5em;
}



/* Publicidad */

aside{
    background-image: url(publi2.svg);
    background-size: cover;
    width: 24%;
    min-width: 100px;
    height: 680px;
    overflow: hidden;
    float: right;
}

/* footer */

footer{
    padding: 0.5em 2em;
    background-color: #BDD959;
    clear: both;
}

#enlaces {
    padding-bottom: 1em;
}

#inicio {
    float: left;
}
#contacto {
    float: right;
}

#licencia {
    text-align: center;
}
